<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Commits Viewer</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="nav">
        <h2>Repositories</h2>
        
        <select id="category" onchange="loadRepos(this.value)">
            <!-- Options will be dynamically populated -->
        </select>
        
        <!-- Dynamic Repository Links -->
        <div id="repoList"></div>
        
        <!-- Logo Image -->
        <div class="logo">
            <img src="../static/FOURKITES_LOGO_DARK.webp" alt="Logo">
        </div>
    </div>
    

    <div class="container">
        <div id="commits-container"></div>
    </div>

    <script>
        function loadCommits(team,repoName) {
            const url = `http://127.0.0.1:5000/commits?team=${team}&repo_name=${repoName}`;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data && data.repo_name) {
                        // Update the header with the correct repository name
                        const header = document.querySelector("#header");
                        header.innerHTML = `Commits for Repository: <span class="repo-name">${data.repo_name}</span>`;
                    }

                    // Check if data has commits, if so, display them

                    const container = document.getElementById("commits-container");
                    if (data && data.commits) {
                        displayCommits(data,team, repoName);
                    }
                    else{
                        container.innerHTML = `<h1 id="header">Commits for Repository: <span class="repo-name">${repoName}</span></h1>`;
                        container.innerHTML += `<div class="header-pr-div"><h3 id="header">No commits found for this repository.</h3></div>`;
                        return;
                    }
                })
                .catch(error => console.error('Error loading commits:', error));
        }
        function getMinutesAgo(timestamp) {
            // Convert the timestamp string to a JavaScript Date object
            const timestampDate = new Date(timestamp);

            // Get the current time as a Date object
            const currentTime = new Date();

            // Calculate the time difference in milliseconds
            const timeDifference = currentTime - timestampDate;

            // Convert the difference from milliseconds to minutes
            const minutesAgo = Math.floor(timeDifference / (1000 * 60));

            // Return the calculated minutes
            return minutesAgo;
        }

        function displayCommits(data,team, repoName) {

            const container = document.getElementById("commits-container");
            container.innerHTML = `<h1 id="header">Commits for Repository: <span class="repo-name">${repoName}</span></h1>`;
            const commits = data.commits;
            let count = 0;
            commits.forEach(commit => {
                if(commit.state[0] && commit.state[1]){
                    count++;
                }
            });
            container.innerHTML += `<div class="header-pr-div"> <h3 id="header-pr">Total PR's Ready for release: ${count}</h3></div>`;
            container.innerHTML += `
                <div class="header-timeStamp">
                    <h2 id="header-pr">Last Sync : ${getMinutesAgo(data.timeStamp)} mins ago</h2>
                    <button class="refresh-btn" onclick="refreshRepo('${team}', '${repoName}')"><i class="fa fa-refresh"></i></button>
                </div>`;

            commits.forEach(commit => {
                const fullMessage = commit.message;
                const shortenedMessage = fullMessage.split('\n')[0]; // Limit title to the first line or until a quotation mark

                const commitDiv = document.createElement("div");
                // commitDiv.className = "commit";
                commitDiv.innerHTML = `
                    <div class="commit" style="background-color: ${commit.state[0] ? (commit.state[1]? 'rgba(0, 255, 0, 0.1)' :'transparent') : 'rgba(255, 0, 0, 0.1)'};">
                    <div class="branch_state">${commit.branch}</div>
                    <a href="${commit.url}" target="_blank" >
                    <div class="commit-header">
                        ${shortenedMessage}
                    </div>
                    <div class="commit-author">by ${commit.author}</div>
                    </a>
                    ${!commit.state[1] ? '<div class="commit-warn" >Automation Not Done</div>' : ''}
                    ${commit.state[1] ? '<div class="commit-green" >Automation Done</div>' : ''}
                   ${commit.state[0] ? (commit.state[1]? '<div class="commit-green" >Ready For release</div>' : '') : ''}

                    <div class="commit-date" >${commit.date}</div>
                    ${commit.jira_ticket!=null ?  `<a class="view_ticket" href="https://fourkites.atlassian.net/browse/${commit.jira_ticket}" class="button">View Ticket</a>` : ''}
                    ${commit.jira_ticket==null ?  `<a class="view_ticket_warn" class="button">No Ticket ID</a>` : ''}

                    </div>
                    `;
                container.appendChild(commitDiv);
            });
        }

        function refreshRepo(team,repoName) {
            const button = event.currentTarget;  // Reference to the clicked button

            // Change the icon to indicate loading
            const icon = button.querySelector('i'); // Get the icon within the button
            icon.classList.add('fa-spin'); // Add spin class to the icon

            const url = `http://127.0.0.1:5000/refresh?team=${team}&repo_name=${repoName}`;
            console.log('Refreshing Redis Cache...');
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data && data.repo_name) {
                        // Update the header with the correct repository name
                        const header = document.querySelector("#header");
                        header.innerHTML = `Commits for Repository: <span class="repo-name">${data.repo_name}</span>`;
                    }

                    // Check if data has commits, if so, display them

                    const container = document.getElementById("commits-container");
                    if (data && data.commits) {
                        displayCommits(data,team, repoName);
                    }
                    else{
                        container.innerHTML = `<h1 id="header">Commits for Repository: <span class="repo-name">${repoName}</span></h1>`;
                        container.innerHTML += `<div class="header-pr-div"><h3 id="header">No commits found for this repository.</h3></div>`;
                        return;
                    }
                })
                .catch(error => console.error('Error loading commits:', error));
        }

        function loadJSONData() {
            fetch('/static/repos.json')
                .then(response => response.json())
                .then(data => {
                    populateDropdown(data['teams']);
                })
                .catch(error => console.error('Error loading JSON:', error));
        }

        // Populate the dropdown with categories from the JSON
       // Populate the dropdown with team names from the updated JSON
        function populateDropdown(teamsData) {
            const categorySelect = document.getElementById('category');
            categorySelect.innerHTML = '<option value="">Select Team</option>';  // Reset options

            // Populate dropdown with team names
            Object.keys(teamsData).forEach(teamName => {
                const option = document.createElement('option');
                option.value = teamName;
                option.textContent = teamName;
                categorySelect.appendChild(option);
            });

            // Store teams data globally for later use
            window.teamsData = teamsData;
        }


        // Function to load repositories based on selected category
        // Function to load repositories based on selected team
        function loadRepos(team) {
            const repoList = document.getElementById('repoList');
            repoList.innerHTML = '';  // Clear existing links

            if (window.teamsData && window.teamsData[team]) {
                const repos = window.teamsData[team];

                // Iterate over repositories (which are now objects, not arrays)
                Object.keys(repos).forEach(repoKey => {
                    const repo = repos[repoKey];  // Get the repo object

                    // Create an anchor element for each repo
                    const a = document.createElement('a');
                    a.textContent = repo.display_name;
                    a.onclick = () => loadCommits(team,repo.repository);  // Hook to load commits
                    
                    // Add class for consistent styling
                    a.classList.add('repo-link');
                    
                    // Append the anchor to the repoList div
                    repoList.appendChild(a);
                });
            }
        }

        // Load commits for the default repository on page load
        window.onload = function() {
            loadCommits('OTR','tracking-service');  // Run the first function
            loadJSONData();                   // Run the second function
        };

    </script>
</body>
</html>
